@media (max-width: 1500px){     

}
@media (max-width: 1200px){
	.adver-left,
	.adver-right {
		display: none;
	}
	.fanpage img {
		width: 100%;
	}
}
@media (max-width: 1024px){
	.header-logo {
    margin-right: 20px;
	}
	#menu >ul >li {
    margin: 0 5px;
	}
	.header-noti a {
		font-size: 14px;
    height: 40px;
    width: 80px;
    line-height: 40px;
	}
	.online .form-control {
		height: 40px;
	}
	.footer {
		height: auto;
		background-color: #8Bd1ff;
    background-position: left;
    padding-bottom: 30px;
	}
	.fanpage img {
		width: auto;
	}
}
@media (max-width: 991px){
	.header-nav {
		padding: 20px 10px;
		z-index: 2;
	}
	#big-sexy {
		display: block;
	}
	.header-noti {
		margin-top: 0;
	}
	.header-logo {
		margin: 0;
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translate(-50%, 0);
	}
	#site-wrapper {
		display: block;
	}
	#menu {
		display: none;
	}
	.online-form {
		padding-top: 25px;
	}
	.online .form-control {
		height: 35px;
		width: 200px;
	}
	.online .btn--link {
		height: 40px;
    line-height: 40px;
    font-size: 14px;
    bottom: -22px;
	}
}
@media (max-width: 768px){
	.header {
		background-color: #bbe4ff;
		background-position: bottom;
	}
	.header-top {
    display: inline-block;
    height: auto;
    line-height: 25px;
    padding: 10px;
	}
	.content {
    padding: 0 10px 20px 10px;
	}
	.contest-top {
		margin-bottom: 20px;
	}
	.slick-slide img {
		width: 100%;
	}
	.playgr-big {
		margin-bottom: 20px;
	}
	.partner-item {
		margin-bottom: 20px;
	}
	.slider-text h2,
	.title {
		font-size: 26px;
	}
	.slider-text h3 {
		font-size: 18px;
	}
	.btn--link {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 40px;
	}
	.news-title a {
		font-size: 16px;
	}
	.vlog .news-waper img {
		width: 100%;
	}
	.vlog .item {
    width: 360px;
		height: 335px;
	}
	.footer--title {
    margin: 10px 0;
	}
	.lot-item {
    margin-bottom: 10px;
	}
	.post-status {
		display: block;
	}
	.post-status span {
		margin-right: 10px;
	}
	.header-menu {
		padding: 0 10px;
	}
	.student-item {
		display: block;
		text-align: center;
	}
	.student-img img {
		width: 100%;
	}
	.student-text {
		margin-top: 0;
		border: 2px dashed #b2bec6;
		border-top: 0;
		border-radius: 0 0 10px 10px;
	}
	.sport  .student-text {
    border: 2px dashed #b2bec6;
    border-top: 0;
    height: 180px;
    border-radius: 0 0 10px 10px;
	}
	.student-title {
		margin-top: 0;
		padding-top: 10px;
	}
	.sport {
		margin-bottom: 20px;
	}
	.breadcrumb ul li a {
		font-size: 13px;
	}
	.sidebar {
		padding: 0;
	}
	.lot-text .news-des {
		width: auto;
	}
}
@media (max-width: 480px){
	.vlog .item {
    width: 254px;
    height: 325px;
	}
	.footer-waper {
    padding: 0 10px;
	}
	.fanpage img {
		width: 100%;
	}
	.sport .student-text {
		height: auto;
	}
}
/*-----------------------------min width*/
@media (min-width: 1366px){
	.footer {
    width: 1440px;
	}
}
@media (max-width: 1366px){
	.footer {
    width: auto;
	}
}
@media (min-width: 1200px){
	.container {
     width: 1082px; 
	}
}
