@media (max-width: 1500px){     

}
@media (max-width: 1200px){
	.adver-left,
	.adver-right {
		display: none;
	}
	.fanpage img {
		width: 100%;
	}
}
@media (max-width: 1024px){
	.online .form-control {
		height: 40px;
	}
	.footer {
		height: auto;
		background-color: #8Bd1ff;
    background-position: left;
	}
	.fanpage img {
		width: auto;
	}
}
@media (max-width: 991px){

}
@media (max-width: 768px){

}
@media (max-width: 480px){
    
}
/*-----------------------------min width*/
@media (min-width: 1366px){
	.footer {
    width: 1440px;
	}
}
@media (max-width: 1366px){
	.footer {
    width: auto;
	}
}
@media (min-width: 1200px){
	.container {
     width: 1082px; 
	}
}
